
* {
	font-family: Verdana, Geneva, sans-serif;
}

body {
   color: #005596;
	margin: 5%;
   background: #E2ECFF;
}

#loading {
   width: 100%;
   height: 100%;
   top: 0px;
   left: 0px;
   position: fixed;
   display: block;
   opacity: 1.0;
   background-color: #fff;
   z-index: 99;
   text-align: center;
}

#loading-image {
  position: absolute;
  top: 100px;
  left: 240px;
  z-index: 100;
}

h1, h2, h3 {
	color: #005596;
}

h1 {
	font-size: 64px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 24px;
}

p {
	color: #0092CF;
	font-size: 20px;
}

span {
	color: red;
}

select { width: 200px ; background:#F2FCFF; }

td {text-align: center; }


.biglist {
   height:300px;
}

input, select {
	font-size: 20px;
}


.addrem {
   width:120px;
}


.main {
 background: white;
 margin:auto;
 border: solid 10px #0077A8;
 border-radius: 30px;
 width:50%;
 padding:5%;



}

