
* {
	font-family: Verdana, Geneva, sans-serif;
}




#loading {
   width: 100%;
   height: 100%;
   top: 0px;
   left: 0px;
   position: fixed;
   display: block;
   opacity: 1.0;
   background-color: #fff;
   z-index: 99; 
   text-align: center;
}

#loading-image {
  position: relative;
  margin:auto;
  z-index: 100;
}


.submitbutton {
   width:30%;
   background:#0077A8;
   height:60px;
   border:5px solid #0077A8;
   border-radius:5px;
   color:white;
   margin:50px;
}



 .submitbutton:hover {
    background: #2299ca;
    border: solid 2px #2299ca;
}




body {
   color: #0092CF;
   margin: 5%;
   background: #E2ECFF;
}

h1, h2, h3 {
	color: #005596;
}

h1 {
	font-size: 64px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 24px;
}

p {
	color: #0092CF;
	font-size: 20px;
}

select { width: 200px ; background:#F2FCFF; }

td {text-align: center; }


.biglist {
   height:300px;
}

/*input {
	width: 100px;
}*/

.inputbox {
   width: 100px;
}

input, select {
	font-size: 20px;
   min-width:75px; 
}


.addrem {
   width:120px;
}


.main {
 background: white;
 margin:auto;
 border: solid 10px #0077A8;
 border-radius: 30px;
 width:50%;
 min-width:800px;
 padding:5%;



}

.prefcrn {
   width: 50px !important;
}

.question-group {
  border: solid 3px #0077A8;
  border-radius:6px;
  padding:10px;
  margin:0px;
}

.question {
   margin:20px;
}

.options {
   border-radius: 10px;
   padding: 10px;
   margin: 30px;
   background: #DEE7F3;
   margin:auto;
}

.option {
   margin-left:20px;
   margin-right:20px;
}


.prefCRNs {
	width:150px;
}
