<HTML>
<HEAD>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js" ></script>
<style>
.mycalendar {
width:600px;
float: left;
}




</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.2/fullcalendar.min.js" ></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.2/fullcalendar.min.css"  rel="stylesheet" type="text/css">
<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.2/fullcalendar.print.css" rel="stylesheet" type="text/css"> -->
<link href="../static/fullcalendar_custom.css" rel="stylesheet" type="text/css">

<script>

$(document).ready(function() {

       // page is now ready, initialize the calendar...

           $('#calendar').fullCalendar({
                      // put your options and callbacks here
minTime: '08:00',
maxTime: '21:30',
height:800,
textColor: "black",
weekends: false,                          
defaultView: 'agendaWeek',
events : {{!w1}},
header: false,
allDaySlot: false,
columnFormat: 'ddd'


})

});

</script>

<script> 

$(document).ready(function() {

       // page is now ready, initialize the calendar...

           $('#calendarw2').fullCalendar({
                      // put your options and callbacks here
minTime: '08:00',
maxTime: '21:30',
height:800,
textColor: "black",
weekends: false,                          
defaultView: 'agendaWeek',
events : {{!w2}},
header: false,
allDaySlot: false,
columnFormat: 'ddd'

})

});

</script>


</HEAD>


<body>
<div class='mycalendar' >
  <div id='calendar'></div>
</div>
<div class='mycalendar' >
<div id='calendarw2'></div>
</div>
</body>
</HTML>

